<!doctype html>
<html>
	<head>
	</head>
	<body>
		<h1>{{ messageToPlayer }}</h1>
		<div>
		Wallet Amount: $ {{ walletAmount }}
		</div>
		<br>
		Dealer Cards:
		{{ #dealerCards }}
			<div>{{ . }}</div>
		{{ /dealerCards }}
		<br>
		<div>Dealer Best Hand: {{ dealerBestHand }}</div>
		<hr>
		Your Cards:
		{{ #playerCards }}
			<div>{{ . }}</div>
		{{ /playerCards }} 
		<br>
		<div>Player Best Hand: {{ playerBestHand }}</div>
		{{ #showPlayAgainButton }}
			<form method="post" action="/blackjack/game/bet">
				<input type="number" name="playerBet" value="" required>
				<button>play again!</button>
			</form>
		{{ /showPlayAgainButton }}
		<form method="post" action="/blackjack">
			<button>end game</button>
		</form>
		<br>
  		<div>Deck has {{ remainingCards }} cards remaining</div>
	</body>
</html>